/*Settings Generales*/
body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

a {
  /*Removiendo la decoracion de las a y seteando su color en blanco*/
  text-decoration: none;
  color: white;
}
/*Manteniendo el color blanco cuando pasan por encima de ellas*/
a:hover {
  color: white;
}

.tooltip-inner {
  /*Cambio de color de fondo de los tooltip*/
  background-color: #0dcaf0;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #0dcaf0 !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #0dcaf0 !important;
}

/*Navbar*/
.navbar {
  /*Settings para dejar un navbar transparente, con fijación arriba y que se muestre sobre los demas contenidos*/
  position: fixed;
  background: none;
  z-index: 2;
  width: 100%;
}

nav .container img {
  width: 1.8rem;
  height: 1.8rem;
}

.nav-link {
  /*Remover decoracion de <a> y cambio de fonts*/
  text-decoration: none;
  color: rgba(235, 232, 232, 0.8);
}

.navbar-toggler-icon {
  /*Cambie el color del icono de la hamburguesa de bootstrap por un tono notable, dejando su opacidad en 1*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:hover {
  color: white;
}

/*Carousel*/
.image-fix {
  /*Seteo de tamaño de todas las imagenes por si tienen diferente tamaño*/
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
}

/*Quienes Somos*/
#quienesSomos {
  background-color: black;
}

#quienesSomos p {
  color: #ffffff;
  font-family: "ABeeZee", sans-serif;
}

#quienesSomos h1 {
  font-family: "Asap", sans-serif;
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: white;
}

#quienesSomos hr {
  color: white;
}

#quienesSomos .icon {
  background-color: #0dcaf0;
}

#quienesSomos i {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#quienesSomos .titulo {
  margin-bottom: 2rem;
}

#quienesSomos .col-lg-4 {
  margin-bottom: 3rem;
}

/*Destacados*/
#destacados .titulo-destacados hr {
  color: white;
  margin-left: 4rem;
  margin-right: 4rem;
}

#destacados p,
h5 {
  font-family: "Questrial", sans-serif;
  color: white;
  text-align: center;
}

#destacados h1 {
  font-family: "Asap", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

#destacados .card img {
  /*Seteo de altura de la imagen de las cartas para que posean la misma altura*/
  height: 202.7px;
}

#destacados .card-body {
  background-color: #0dcaf0;
}

/*Contacto*/
#contacto {
  margin-bottom: 2rem;
}

#contacto .titulo-contacto hr {
  color: white;
  margin-left: 4rem;
  margin-right: 4rem;
}

#contacto h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: white;
}

#contacto label,
button {
  color: white;
}

#contacto button {
  background-color: #0dcaf0;
  border: 0;
}

.modal-title {
  color: black;
}

/*Footer*/
footer {
  background-color: #0dcaf0;
}
footer span,
i {
  color: white;
  font-size: 24px;
}
